<h1> Course: <%= @course.name %> </h1>

<h4>Enrolled Students:</h4>

<ul>    
    <% @course.students.each do |student| %>
       <li><a href="/students/<%=student.id%>">
       <%= student.name %></a>
        </li>
      <% end %>  
</ul>
<br>
  <form method=get action="/courses/<%= @course.id %>/edit">
    <input type="submit" value="Modify Course & Roster">
  </form><br>
  
  <form method=post action="/courses/<%= @course.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Course">
  </form>
<br>
