<h1> Student: <%= @student.name %> </h1>

<h4>Course List:</h4>

<ul>    
    <% @student.courses.each do |course| %>
       <li><a href="/courses/<%=course.id%>">
       <%= course.name %></a>
        </li>
      <% end %>  
</ul>

<br>
  <form method=get action="/students/<%= @student.id %>/edit">
    <input type="submit" value="Edit Student Account">
  </form><br>

  <form method=post action="/students/<%= @student.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Student Account">
  </form>

<br>

